nav {
    display: flex;
    justify-content: space-between;
}

.navbar-ceglogo {
    text-align: right;
}

.navbar-brand span {
    font-weight: bold;
}

#navbar-logoceg {
    width: 145px;
}

.col-navbar {
    display: flex;
    align-items: center;
}